main{
  overflow-x: hidden;
}
.ticker{
position: absolute;
overflow: hidden;
top: 50px;
font-size: 30px;

}
.bottom{
  position: absolute;
  overflow: hidden;
  bottom: 120px;

}
.marquee{
width: 100%;
}
.word{
  width:100%;
  padding-left: 20px;
  padding-right: 10px;

}
.icon{
  width: 100%;
  padding-left: 20px;
}
section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  float:right;
  width:92%;
  border-bottom: 1px solid lightgrey;
}

section:nth-child(even){
  flex-direction: rov-reverse;
}

section img,
section div{
  height:auto;
  width:100%;
}

section img{
  width: 50%;
}
.home{
  align-self: center;
  height: 80%;
}


.shami{
  float: left;
  width:50%;
  border-radius: 100%;
  position: relative;
  float: right;

}
#homeContainer{
  background-color: #e8f2e6;
}
section .home {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.homeblurb h1{
  font-size: 40px;
  padding-left: 5px;
}
.homeblurb h2{
  font-size: 30px;
  padding-left: 10px;
}




section .about{
display: flex;
flex-direction: column;
padding-left:100px;
align-items: ;
}

.about-photo{
  position: relative;
  display: flex;
  display: column;
  width: 20%;
}
.about-photo img{

  width:100%;
}
.container {
  padding: 20px;
  position: relative;
  width: 40%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #A2AB6A ;
  align-items: center;
  border-radius: 80%;
}
.text{
  font-size: 18px;
  top: 100px;
}
.container:hover .overlay {
  opacity: 0.25;
  width: 100%;
}
.about-photo img:hover{
  width: 60%;
}
.about center{
  width: 100%;
}


.projects{
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  justify-content: center;
}
.project-header{
  top:40px;
position: absolute;
}
.project-card{
  box-shadow: 2px 2px 5px grey;

  margin:50px;
  height:650px;
  overflow-y: scroll;
}
.project-description{
  height:100px;
  overflow-y: scroll;
}

.project-github{
  color:grey;
  padding:10px;
  height:50px;
}
.project-github:hover{
  color:#A2AB6A;
  padding:10px;
  height:50px;
}

.projects img{
width: 100%;
height:250px;
}




@media screen and (max-width: 900px) {
	section,
	section:nth-child(even) {
		flex-direction: column;
	}

	section img {
		height: auto;
		width: auto;
		max-width: 100vw;
	}
}
.cakes{
  width:100%;
  bottom: 10px;
  border-radius: 100px;
}
