main{
  overflow-x: hidden;
  font-family: Palatino, URW Palladio L, serif;
}
div{
  vertical-align: top;
}

.ticker{
position: absolute;
overflow: hidden;
top: 100px;
font-size: 30px;

}
.bottom{
  position: absolute;
  overflow: hidden;
  bottom: 80px;

}
.marquee{
width: 100%;
}
.word{
  width:100%;
  padding-left: 20px;
  padding-right: 10px;

}
.icon{
  width: 100%;
  padding-left: 20px;
}
section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  float:right;
  width:92%;
  border-bottom: 1px solid lightgrey;
}

section:nth-child(even){
  flex-direction: rov-reverse;
}

section img,
section div{
  height:auto;
  width:100%;
}

section img{
  width: 50%;
}
.home{
  align-self: center;
  height: 80%;
}


.shami{
  float: left;
  width:50%;
  border-radius: 100%;
  position: relative;
  float: right;

}
#homeContainer{
  background-color: #e8f2e6;
}
section .home {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.homeblurb a{
  color:green;
  font-style: italic;
  font-size-adjust: auto;
  text-decoration: none;
}
.homeblurb a:hover{
  text-decoration: underline;
}
.homeblurb h1{
  font-size: 4em;
  padding-left: 5px;

}
.homeblurb h2{
  font-size: 2.5em;
  padding-left: 10px;
}
.homeblurb p{
  font-size: 1.3em;
}




section .about{
display: inline-block;
flex-direction: column;
padding-left:1em;
text-align:left;

}
.about-nav{
  display: flex;
  position:relative;

  flex-direction: column;
  left: 1em;
  top:-10em;
  width: 30em;
}
.header{
  width:100%;
  font-size: 2em;
}
.about-buttons{
  padding-top: 1em;
  display: inline-block;
  left: -10px;
  flex-direction: column;
  flex-grow: 0.5;
}
.button{
  width:13em;
  background-color: #d1ccb9;
  border-color: #d1ccb9;
}
.button:hover{
  background-color: #A2AB6A;
  border-color: #d1ccb9;
}
.button:focus{
  background-color: #A2AB6A;
  border-color: #d1ccb9;
}
.about-card{
  display: flex;
  width:70em;
  height:30em;
}

.about-text{
  font-size: 1.5em;
}



.about-pics{
  display: flex;
  width:50em;

}
.about-pics img{
  display: flex;
  height:40em;
  border-radius: 1em;
}
.carousel{
  width: 30em;
    right:-50px;
}
.car-cap{
  left: 1em;
  width:28em;
  background-color: #A2AB6A;
  opacity: 0.8;
  border-radius: 10px;
}
.carousel-indicators{
  left:-4.5em;
}

.about-img1{

height:300px;
width: 105px;
}
.about-img2{
  height:300px;
  width: 105px;

}
.about-img3{
  height:300px;
  width: 105px;


}

.about-photo{
  position: relative;
  display: flex;
  display: column;
  width: 24%;
  flex-grow: 1;
}
.about-photo img{

  width:100%;
}
.container {
  display: flex;
  padding: 1em;
  position: relative;
  width: 40%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #A2AB6A ;
  align-items: center;
  border-radius: 80%;
}
.text{
  font-size: 18px;
  top: 100px;
}
.container:hover .overlay {
  opacity: 0.25;
  width: 100%;
}
.about-photo img:hover{
  width: 60%;
}
.about-center{
  width:100%;

}


.projects{
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  justify-content: center;
}
.project-header{
  display: flex;
  top:80px;
position: absolute;
}
.project-card{
  display: flex;
  box-shadow: 2px 2px 5px grey;
  top:50px;
  margin:50px;
  height:650px;
  overflow-y: scroll;
}
.project-description{
  height:100px;
  overflow-y: scroll;
}

.project-github{
  color:grey;
  padding:10px;
  height:50px;
}
.project-github:hover{
  color:#A2AB6A;
  padding:10px;
  height:50px;
}

.projects img{
width: 100%;
height:250px;
}

.contact{
  display: flex;
  flex-direction: column;
  text-align: center;
}


@media screen and (max-width: 900px) {
	section,
	section:nth-child(even) {
		flex-direction: column;
	}

	section img {
		height: auto;
		width: auto;
		max-width: 100vw;
	}
}
.cakes{
  width:100%;
  bottom: 10px;
  border-radius: 100px;
}
