.nav-bar{
  width: 5%;
  z-index: 10;
  top: 0;
  background: #A2AB6A ;
  opacity: 0.5;
  height: 100%;
  position: fixed;
  top: 0px;

  ul{
    position: absolute;
    bottom: 40%;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li{
      a{
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg{
          color: #F5EEE5;
        }
      }
    }
  }

}

.icon{
  height:50px;
}
